.row.reverse {
    flex-direction: row-reverse;
}

.row.reverse-xs {
    @include respond-above(xs) {
        flex-direction: row-reverse;
    }
}

.row.reverse-sm {
    @include respond-above(sm) {
        flex-direction: row-reverse;
    }
}

.row.reverse-md {
    @include respond-above(md) {
        flex-direction: row-reverse;
    }
}

.row.reverse-lg {
    @include respond-above(lg) {
        flex-direction: row-reverse;
    }
}

.row.reverse-xl {
    @include respond-above(xl) {
        flex-direction: row-reverse;
    }
}

.col.reverse {
    flex-direction: column-reverse;
}

.col.reverse-xs {
    @include respond-above(xs) {
        flex-direction: column-reverse;
    }
}

.col.reverse-sm {
    @include respond-above(sm) {
        flex-direction: column-reverse;
    }
}

.col.reverse-md {
    @include respond-above(md) {
        flex-direction: column-reverse;
    }
}

.col.reverse-lg {
    @include respond-above(lg) {
        flex-direction: column-reverse;
    }
}

.col.reverse-xl {
    @include respond-above(xl) {
        flex-direction: column-reverse;
    }
}

// Align

.align-center {
 align-items: center;
}

.justify-center {
    justify-content: center;
}

.height-100vh {
    height: 100vh;
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
}

.width-100 {
    width: 100%;
}