.entry-content>* {
    max-width: $entry-max-width;
    margin: 1.5em auto;
}

.entry-content>.alignfull {
    max-width: 100%;
}

.entry-content>.alignwide {
    max-width: $container-max-width;
}

.entry-content>img {
    max-width: 100%;
    height: auto;
}

.wp-block-image img {
    max-width: 100%;
    height: auto;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    margin: 36px auto;
    padding: 0;
}

.entry-header {
    max-width: $entry-max-width;
    margin: 1.5em auto;
}