// Media query mixin
$screen-sm-min: $breakpoint-sm;
$screen-md-min: $breakpoint-md;
$screen-lg-min: $breakpoint-lg;
$screen-xl-min: $breakpoint-xl;

$screen-xs-max: $breakpoint-xs - 1px;
$screen-sm-max: $breakpoint-sm - 1px;
$screen-md-max: $breakpoint-md - 1px;
$screen-lg-max: $breakpoint-lg - 1px;
$screen-xl-max: $breakpoint-xl - 1px;

@mixin min-sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin min-md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin min-lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin min-xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin min-custom($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

@mixin max-xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}

@mixin max-sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin max-md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin max-lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin max-xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin max-custom($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}
