// Base
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Components
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

// Transitions
$transition-time: .2s;

// Typography
$base-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

$base-font-size: 1rem !default;
$font-size-lg: ($base-font-size * 1.25) !default;
$font-size-sm: ($base-font-size * .875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$base-font-weight: $font-weight-normal !default;
$base-line-height: 1.5 !default;

$display-font-size: 120px !default;
$display-line-height: 1.1 !default;

// Body
$body-font-family: $base-font-family !default;

$body-color: $dark !default;
$body-bg: $light !default;

// Links 
$link-color: $primary;
$link-color-hover: darken($primary, 15%);
$link-color-active: darken($primary, 15%);

// Breakpoints
$breakpoints: (
  xs: 576px,
  sm: 814px,
  md: 992px,
  lg: 1380px,
  xl: 1500px
) !default;


// Grid

$container-width: 1200px;

$gutter: 1.25rem;
$gutter-half: $gutter / 2;
$gutter-medium: 1.875rem;
$gutter-medium-helf: $gutter-medium / 2;
