// Standard Colors
$blue:     #007bff !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$red:      #dc3545 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$green:    #28a745 !default;
$teal:     #20c997 !default;
$cyan:     #17a2b8 !default;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #22262a !default;
$black:    #000 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":     $blue,    
    "indigo":   $indigo,  
    "purple":   $purple,  
    "pink":     $pink,    
    "red":      $red,     
    "orange":   $orange, 
    "yellow":   $yellow,
    "green":    $green,  
    "teal":     $teal,    
    "cyan":     $cyan,    
    "white":    $white,   
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400, 
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700, 
    "gray-800": $gray-800, 
    "gray-900": $gray-900, 
    "black":    $black  
  ),
  $colors
);

// Theme Colors
$primary:     #6a46eb !default;
$secondary:   #46a5f3 !default;
$tertiary:    #ce3ba2 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "tretiary":   $tertiary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Merge color maps
$all-colors: map-merge($theme-colors,$colors);

// Add all colors to :root as CSS-variables
:root {
    @each $name, $color in $all-colors{
    --#{$name}: #{$color};
    }
}

$body-bg:                   #f5f6f7 !default;
$body-color:                $dark !default;

$boxshadow-color: rgba($dark, .25);

// Spacing 
$spacer: 1rem !default;

// Breakpoints
$breakpoints: (
  xs: 576px,
  sm: 814px,
  md: 992px,
  lg: 1480px,
  xl: 1600px
) !default;

// Fonts
$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base:              2.2rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$headings-margin-bottom:      $spacer !default;
$headings-font-family:        'Poppins', sans-serif !default;
$headings-font-weight:        $font-weight-bold !default;
$headings-line-height:        1 !default;
$headings-color:              $dark !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$dt-font-weight:              $font-weight-bold !default;

$text-muted:                  $gray-600 !default;

// Paragraphs
$paragraph-margin-bottom:   1rem !default;

// Links
$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        $secondary !default;
$link-hover-decoration:                   none !default;

// Tables
$table-cell-padding:          .75rem !default;
$table-caption-color:         $text-muted !default;

// Forms
$label-margin-bottom:                   .5rem !default;
$label-font-family: $headings-font-family;
$label-color: $body-color;
$label-color-focused: $gray-500;

// Navbar
$navbar-font-family: $headings-font-family;
$navbar-font-size: 1.6rem !default;

$navbar-padding-y:                  $spacer / 2 !default;
$navbar-padding-x:                  2rem !default;

$navbar-expand: sm !default;

// Brand
$brand-width: 80px;
$brand-width-small: 130px;

// Navigation
$nav-item-spacing: $spacer * 1.2;

$nav-link-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-active-color: $gray-600;
$nav-link-padding-y: 1rem !default; 
$nav-link-padding-x: 2.5rem !default;

$dropdown-font-size: $navbar-font-size;
$dropdown-bg: rgba($body-bg, .96);

// Hamburger Icon
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height : 3px;
$hamburger-layer-color: #212529;

// Containers
$container-width: map-get($breakpoints, "lg");
$container-wide-width: map-get($breakpoints, "xl");

// Grid
$grid-gutter-width: 2rem !default;
$grid-outer-margin: 2rem !default;
$grid-gutter-compensation: $grid-outer-margin / 2 !default;
$grid-gutter-halfWidth: $grid-gutter-width / 2 !default;
