.site-footer {
    padding-top: 4em;
    padding-bottom: 4em;
    margin-top: auto; 
    background-color: $footer-bg;
    color: $footer-color;
    a {
        color: $footer-link-color;
        &:hover {
            color: $footer-link-hover;
        }
    }
}
