header.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $mobile-header-bg;
    color: $header-color;
    z-index: 99999;
    transition: all .3s ease;;

    &.active {
        background-color: $mobile-header-active-bg;
    }
    @include min-lg {
        background-color: $desktop-header-bg;
        &.active {
            background-color: $desktop-header-active-bg;
        }
    }
}
