.site-footer {
    font-size: 1.4rem;
    .footer-cta {
        padding-top: 5rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .footer-background {
        background-color: $dark;
        position: relative;
        height: 300px;
        overflow: hidden;
        background-size: cover;
    }

    .footer-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 4rem;
        color: $light;
    }
    a {
        display: block;
        color: $light;
        transition: transform .25s ease;
        &:hover {
            color: rgba($light, .85);
            transform: translateY(-2px);
        }
    }
}
