.site-footer {
    .footer-cta {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .footer-animation {
        height: 500px;
        background-color: #eee;
        background-size: contain;
        background-position: bottom;
    }
    .footer-info {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #eee;
    }
}