.site-footer {
    margin-top: 18vh;
    background-color: $body-color;
    color: $gray-400;
    font-size: 1.4rem;
    .footer-cta {
        padding-bottom: 6em;
        &-left, &-right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            min-height: 15vh;
            padding-top: 10em;
        }
        &-left {
            @include respond-above(md) {
                &:after {
                    content: "";
                    background: $gray-400;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 50%;
                    width: 1px;
                  }
            }
        }
        &-link {
            font-size: 2rem;
            @include respond-above(sm) {
                font-size: 2.8rem;
            }
            @include respond-above(md) {
                font-size: 3.2rem;
            }
        }
    }
    .footer-info {
        
    }
    .copyright {
        padding: 1em 0 2em;
    }
    .footer-brand {
        width: auto;
        margin: 0 auto;
        max-width: 100px;
        display: block;
        line-height: inherit;
        white-space: nowrap;
 
        svg {
        position: relative;
        fill: $dark;
        width: 100%;
        z-index: 999;
        path {
            opacity: 0;
        }
        }
    }
    a {
        display: block;
        color: $primary;
        transition: color .25s ease;
        &:hover {
          color: $secondary;
        }
    }
}
