.navbar-brand {
    width: auto;
    max-width: $brand-width;
    display: block;
    padding: .5em 0;
    line-height: inherit;
    white-space: nowrap;
    @include respond-above(sm) {
        max-width: $brand-width-small;
        padding: 1em 0;
    }
    svg {
        position: relative;
    fill: $dark;
    width: 100%;
    z-index: 999;
    }
}