.btn, a.btn {
    width: fit-content;
    padding: 5px 2em;
    border:none;
    transition: background-color .25s ease, transform .25s ease, box-shadow .25s ease, border-color .25s ease;
    font-size: $navbar-font-size;

    // Make button lika like a link
    &-link {
        padding: 0;
        border: none;
        background: transparent;
    }
    // Primary button
    &-primary {
        border: solid $primary 2px;
        color: $primary;
        background-color: $body-bg;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,0);
        &:hover, &:focus {
            border-color: $primary;
            background-color: $primary;
            box-shadow: 0 25px 50px -12px $boxshadow-color;
        }
        &:active {
            border-color: darken($primary, 10%);
            background-color: darken($primary, 10%);
            transform: translateY(3px);
        }
    }
}
