.navigation {
    position: fixed;
    top: 0; // Margin from top, should equal header height.
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 0 0 3em 0;
    background-color: $mobile-menu-bg;
    color: $mobile-menu-color;
    font-size: $mobile-menu-font-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    &.open {
        display: block;
    }

    // Menus
    ul.nav-menu {
        height: 85vh;
        overflow-y: scroll;
    }

    ul.dropdown-menu {
        display: none;
        flex-basis: 100%;
        padding: 0;
        background-color: $mobile-dropdown-bg;
        font-size: $mobile-dropdown-font-size;
        text-transform: none;
    }

    // Items
    li.nav-item,
    li.dropdown-item {
        display: flex;
        flex-wrap: wrap;
        &.active {
            & > a {
                color: $mobile-menu-active-color;
            }
        }
    }

    // Links
    a.nav-link {
        width: 100%;
        flex: 1;
        padding: 25px;
    }

    // Button and icons
    button.dropdown-btn {
        width: 62px;
        padding: 15px;
        border: 0;
        background-color: transparent;
        color: $mobile-menu-color;
        font-size: 24px;
        line-height: 1;

        i {
            width: 30px;
            transition: transform .3s ease;
            transform: rotate(0deg);
        }

        &.toggled i {
            transform: rotate(180deg);
        }
    }

    // Desktop menu
    @include min-lg {
        position: static;
        display: flex;
        height: auto;
        padding-bottom: 0;
        background-color: $desktop-menu-bg;
        color: $desktop-menu-color;
        font-size: $desktop-menu-font-size;

        // Desktop menus
        ul.nav-menu {
            display: flex;
            height: 100%;
            overflow-y: hidden;
        }

        ul.dropdown-menu {
            position: absolute;
            min-width: 220px;
            margin: 0;
            background-color: $desktop-dropdown-bg;
            font-size: $desktop-dropdown-font-size;

            .dropdown-menu {
                top: 0;
                left: 100%;
                padding: 0;
            }

            .flipped .dropdown-menu {
                right: 100%;
                left: auto;
            }
        }

        // Desktop items
        li.nav-item,
        li.dropdown-item {
            display: block;
        }

        li.nav-item {
            margin-left: 2em;
            &.active {
                & > a {
                    color: $desktop-menu-active-color;
                }
            }
        }

        li.dropdown-item {
            position: relative;
            color: $desktop-dropdown-color;
            &:hover {
                color: $desktop-dropdown-hover-color !important;
            }
            &.active {
                & > a {
                    color: $desktop-dropdown-active-color;
                }
            }
        }

        li.dropdown {

            // Display dropdown on hover
            &:hover>.dropdown-menu{
                display: block;
            }
            &:focus-within>.dropdown-menu {
                display: block;
            }

            // Dropdown icon down
            &>a:first-of-type,
            &>span:first-of-type {
                &::after {
                    margin-left: 8px;
                    font-family: FontAwesome;
                    line-height: 1.4;
                    content: "\f107";
                    font-display: swap;
                }
            }

            // Dropdown icon right
            .dropdown-menu .dropdown>a:first-of-type,
            .dropdown-menu .dropdown>span:first-of-type {
                &::after {
                    margin-left: auto;
                    font-family: FontAwesome;
                    line-height: 1.4;
                    content: "\f105";
                    font-display: swap;
                }
            }
        }

        // Desktop links
        a.nav-link {
            display: flex;
            padding: 15px;
            transition: all .1s ease;
            &:hover {
                color: $desktop-menu-hover-color !important;
            }
        }

        // Desktop buttons and icons
        button.dropdown-btn {
            display: none;
        }
    }
}

// Hamburger button
.nav-toggle {

    &.hamburger {
        padding: .5em 0;
        line-height: 1;
    }

    @include min-lg {
        display: none;
    }
}
