.related-posts {
    padding-top: 4em;
    padding-bottom: 2em;
    h3 {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    &-item {
        position: relative;
        transition: box-shadow .25s ease, transform .25s ease;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,0);
        &:hover {
            box-shadow: 0 25px 50px -12px $boxshadow-color;
            transform: scale(1.03);
        }
    &-content {
     
        bottom: 0;
        padding: .5em 1em;
        transform: translateZ(40px);
    
        padding: 1em .8em;
        h4 {
            font-size: 1.8rem;
            text-align: center;
            line-height: 1.2;
        }
    }
    }
}
