.service {

    &-item {
        box-sizing: border-box;
        margin-bottom: 10%;
        width: 100%;
        z-index: 40;
        transition: box-shadow .15s ease;
        .odd {
            align-items: center;
            flex-direction: row-reverse;
            @include respond-above(sm) {
                flex-direction: row;
            }
        }
        .even {
            align-items: center;
            flex-direction: row-reverse;
        }
        &-img {
            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                transition: box-shadow .25s ease;
                box-shadow: 0 25px 50px -12px rgba(0,0,0,0);
                @include respond-above(sm) {
                    height: 350px
                }
                @include respond-above(md) {
                    height: 500px
                }
                &:hover {
                    box-shadow: 0 25px 50px -12px $boxshadow-color;
                }
            }
        }
        &-content {
            text-align: center;
            width: 100%;
            bottom: 0;
            padding: .5em 1em;
            h2 {
                font-weight: bold;
                color: $dark;
            }
            p {

            } 
            a {
                display: inline-block;
                margin-top: 3em;
            }
        }
    }
}

