.site-header {
    animation: .75s ease-out 0s 1 slideInFromTop;
}

.site-content {
    animation: .5s ease-out 0s 1 slideInFromBottom;

}



.lead p{
    font-size: 30px;
    //font-weight: bold;
    //text-align: center;
    color: $gray-500;
}



.single-letter {
    display: inline-block;
}