// Margins
.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

// Display
.show-lg {
    display: none;
    @include min-lg {
        display: block;
    }
}

.hide-lg {
    display: block;
    @include min-lg {
        display: none;  
    }
}

.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

.no-wrap {
    flex-wrap: nowrap;
}