// Color
$primary: #20c997;
$secondary: #6f42c1;

$light: #f8f9fa;
$dark: #212529;

// Body
$body-bg:       $light;
$body-color:    $dark;

// Header
$header-bg:     transparent;
$header-color:  $dark;

$header-height: 60px;

// Navigation
$menu-font-size: 1.5rem;
$menu-link-hover: #6f42c1;

$mobile-menu-bg: $dark;
$mobile-menu-color: $light;
$mobile-menu-hover: #6f42c1;

$hambuger-icon-color: $header-color;

$dropdown-bg: $light;
$dropdown-color: $light;
$dropdown-icon: $dropdown-color;

$desktop-menu-color: $dark;
// Banner
$banner-bg: #21252921;
$banner-color: $light;

// Hero
$hero-bg: #21252921;
$hero-color: $light;

// Sidebar
$sidebar-bg: transparent;

// Footer
$footer-bg: $primary;
$footer-color: $dark;
$footer-link-color: $dark;
$footer-link-hover: $secondary;

// Typography
$font-family-sans-serif:      Arial, sans-serif,;
$font-family-monospace:       SFMono-Regular, monospace;
$font-family-base:            $font-family-sans-serif;
$font-family-heading:         $font-family-base;

$letter-spacing-heading: 2px;

// Layout
$container-max-width: 1100px;

$entry-max-width: 688px;

$border-radius: 8px;