// Color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Typography
$font-size-base:              1.6rem !default;
$font-size-lg:                $font-size-base * 2 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-pre:               $font-size-base !default;

$font-size-h1:                $font-size-base * 2.5 !default;
$font-size-h2:                $font-size-base * 2 !default;
$font-size-h3:                $font-size-base * 1.75 !default;
$font-size-h4:                $font-size-base * 1.5 !default;
$font-size-h5:                $font-size-base * 1.25 !default;
$font-size-h6:                $font-size-base !default;

$font-weight-base:            400 !default;
$font-weight-heading:         700 !default;

$line-height-base:            1.5 !default;
$line-height-heading:         1.2 !default;

// Grid
$gutter-spacing: 2em !default;

// Breakpoints
$breakpoint-xs:               0px !default;
$breakpoint-sm:               576px !default;
$breakpoint-md:               768px !default;
$breakpoint-lg:               992px !default;
$breakpoint-xl:               1200px !default;
