// General
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary: $red !default;
$secondary: $teal !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$body-bg:       $light !default;
$body-color:    $dark !default;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif !default;
$font-family-monospace: SFMono-Regular, monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-heading: $font-family-base !default;

$font-size-base: 1.6rem !default;
$font-size-lg: $font-size-base * 2 !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-pre: $font-size-base !default;

$font-size-h1: $font-size-base * 2.5 !default;
$font-size-h2: $font-size-base * 2 !default;
$font-size-h3: $font-size-base * 1.75 !default;
$font-size-h4: $font-size-base * 1.5 !default;
$font-size-h5: $font-size-base * 1.25 !default;
$font-size-h6: $font-size-base !default;

$font-weight-base: 400 !default;
$font-weight-heading: 700 !default;

$line-height-base: 1.5 !default;
$line-height-heading: 1.2 !default;

$letter-spacing-heading: 2px !default;

// Layout
$container-max-width: 1100px !default;

$entry-max-width: 688px !default;

// Grid
$gutter-spacing: 2em !default; // byt namn och använd för grid padding

// Breakpoints
$breakpoint-xs: 0px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

// Misc
$border-radius: 8px !default;

// =====================
// =======MODULES=======
// =====================

// Header
$mobile-header-bg: $primary !default;
$mobile-header-active-bg: $primary !default;
$desktop-header-bg: transparent !default;
$desktop-header-active-bg: $primary !default;
$header-color:  $dark !default;
$header-height: 60px !default;

// Navigation
$mobile-menu-bg: $dark !default;
$mobile-menu-color: $light !default;
$mobile-menu-active-color: $secondary !default;
$mobile-menu-font-size: 1.5rem !default;

$mobile-dropdown-bg: $gray-800 !default;
$mobile-dropdown-font-size: 1.3rem !default;

$desktop-menu-bg: transparent !default;
$desktop-menu-color: $dark !default;
$desktop-menu-hover-color: lighten($secondary, 5%) !default;
$desktop-menu-active-color: darken($secondary, 5%) !default;
$desktop-menu-font-size: 1.3rem !default;

$desktop-dropdown-bg: $light !default;
$desktop-dropdown-color: $dark !default;
$desktop-dropdown-hover-color: lighten($secondary, 5%) !default;
$desktop-dropdown-active-color: darken($secondary, 5%) !default;
$desktop-dropdown-font-size: 1.3rem !default;

// Banner
$banner-bg: #21252921 !default;
$banner-color: $light !default;

// Hero
$hero-bg: #21252921 !default;
$hero-color: $light !default;

// Footer
$footer-bg: $primary !default;
$footer-color: $dark !default;
$footer-link-color: $dark !default;
$footer-link-hover: $secondary !default;
