.alignfull {
	margin: 32px calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}


// Wordpress Block editor styles

/* Main column width */
.wp-block {
    max-width: $container-width;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: $container-wide-width;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.entry-content {
    p {
        margin-bottom: 2em;
        line-height: 1.8;
a{
    background-color: $dark;
    color: $light;
    transition: color .25s ease;
    padding: 0 .2em;
    &:hover {
        color: $primary !important;
    }
}
    }
  
}
